:root {
  --light-pink: rgba(255, 241, 241);
  --light-gray: rgba(211, 211, 211, 0.9);
  --dark-blue: #343842;
  --light-gray-alt: #d3d3d3;
  --red: #ec5242;
  --transparent-brown: rgba(90, 32, 25, 0.7);
  --white: #fff;
  --transparent-red: rgba(236, 82, 66, 0.3);
  --dark-gray: #272a31;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  font-family: 'lato', sans-serif;
  background-color: var(--light-pink);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.page-nav {
  background-color: var(--light-gray);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5rem;
  z-index: 400;
  backdrop-filter: blur(3px);
}

.nav-contacts {
  display: none;
}

.menu-btn {
  margin: 1rem;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 200;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger {
  width: 32px;
  height: 6px;
  background: var(--dark-blue);
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 6px;
  background: var(--dark-blue);
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-10px);
}

.menu-btn__burger::after {
  transform: translateY(10px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.nav-items {
  display: flex;
  width: 60vw;
  height: 100vh;
  flex-direction: column;
  background-color: var(--light-gray-alt);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding-top: 4rem;
  margin-left: -150vw;
  transition: margin 0.5s;
  border-right: 4px solid var(--red);
  box-shadow: 40vw 0 rgba(90, 32, 25, 0.7);
}

.nav-displayed {
  margin-left: 0;
}

.header-logo {
  height: 3rem;
  margin-left: 2.5rem;
  margin-top: 3rem;
}

.nav-ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-link {
  height: 3rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  margin-left: 0.5rem;
  transition: margin 0.5s;
  font-size: 1.5rem;
  font-weight: bolder;
}

.nav-link:hover {
  margin-left: 1.5rem;
  border-left: solid 0.5rem var(--dark-gray);
}

.nav-btn {
  height: 3rem;
  margin-left: 2.5rem;
  border: solid 3px var(--red);
  padding: 0 2rem;
  background-color: var(--white);
  cursor: pointer;
  transition: margin 0.5s;
  margin-bottom: 5rem;
}

.nav-btn:hover {
  margin-left: 3.5rem;
}

/* Section 1 */
.section-1 {
  background-image: url('images/page-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-section1 {
  padding: 6rem 1rem 8rem 1rem;
}

.page-greeting {
  color: var(--red);
  font-size: 2rem;
  font-weight: 400;
}

.page-title {
  font-size: 3rem;
  color: var(--transparent-red);
  font-weight: 900;
  line-height: 3rem;
  background-image: url('images/text-background.jpg');
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
}

.page-description {
  color: var(--dark-gray);
  font-weight: 600;
  border: solid 4px var(--white);
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 40rem;
  background-color: rgb(253, 251, 247);
}

.page-date {
  font-weight: 900;
  color: var(--dark-gray);
}

.event-address {
  font-weight: 500;
  color: var(--dark-gray);
}

.section-2 {
  padding: 1rem 0;
  background-color: var(--dark-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section2-title {
  color: var(--white);
  margin-bottom: 1rem;
}

.underline {
  background-color: var(--red);
  width: 3rem;
  border: none;
  height: 2px;
}

.activities {
  display: flex;
  flex-direction: column;
}

.activity {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin: 1rem;
}

.activity-icon {
  height: 4rem;
}

.activity-title {
  color: var(--red);
  min-width: 7rem;
}

.activity-description {
  color: var(--white);
}

.section2-button {
  padding: 1rem;
  margin: 1rem;
  background-color: var(--red);
  color: var(--white);
  font-size: 1.2rem;
  border: none;
}

.section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--light-gray-alt);
}

.section3-title {
  color: var(--dark-gray);
}

.featured-speakers {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
}

.speaker {
  display: grid;
  grid-template-columns: 10rem 1fr;
  column-gap: 1rem;
  margin: 1rem;
}

.speaker-img__div {
  height: 10rem;
  position: relative;
}

.checkerboard {
  height: 60%;
  width: 60%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.speaker-img {
  height: 90%;
  width: 90%;
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
  object-position: top;
}

.speaker-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.speaker-name {
  font-size: 1.5rem;
  font-weight: 900;
}

.speaker-bio {
  font-style: italic;
  color: var(--red);
}

.speaker-line {
  border: none;
  height: 2px;
  width: 2rem;
  background-color: var(--red);
}

.speaker-achievement {
  color: var(--dark-gray);
}

.more-btn {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: solid 2px var(--red);
  margin: 2rem;
  padding: 1rem;
  cursor: pointer;
}

.more-icon {
  height: 0.9rem;
  margin: 0 1rem;
}

.section-4 {
  background-color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
}

.section4-title {
  color: var(--white);
}

.partners {
  text-align: center;
  margin-bottom: 5rem;
}

.partner {
  height: 2.5rem;
  object-fit: contain;
  object-position: center;
  margin: 1rem;
  align-self: center;
}

.apple {
  height: 5rem;
}

.google {
  height: auto;
  width: 10rem;
}

.microsoft {
  height: 4rem;
}

.alibaba {
  height: 7rem;
}

.spacex {
  width: 13rem;
}

/* About */
.about-section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 6rem 1rem;
}

.about-title {
  background-image: none;
  color: var(--red);
}

.about-description {
  border: solid 2px var(--light-gray-alt);
  padding: 1rem;
  margin: 1rem;
  background-color: var(--white);
  font-size: 1.1rem;
  color: var(--dark-gray);
  max-width: 45rem;
}

.about-contact {
  color: var(--dark-gray);
}

.about-email {
  text-decoration: underline;
  font-weight: bolder;
  color: var(--dark-gray);
}

.about-section__2 {
  border-top: solid 2px var(--light-gray-alt);
  border-bottom: solid 2px var(--light-gray-alt);
  background-color: var(--white);
  display: flex;
  padding: 2rem 1rem;
  gap: 1rem;
  flex-direction: column;
  color: var(--dark-gray);
  align-items: center;
  text-align: center;
}

.about-contact-desktop,
.page-text {
  max-width: 45rem;
}

.about-section2-title,
.about-section3-title {
  font-size: 2rem;
}

.logo-div {
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 36rem;
  border: solid 2px var(--light-gray-alt);
  margin: 3rem 1rem;
}

.about-section__3 {
  background-color: var(--white);
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.previous-summits {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.previous-summit {
  position: relative;
}

.previous-summit-image {
  width: 100%;
}

.previous-summit-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(236, 82, 66, 0.5);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.previous-summit-overlay h4 {
  font-size: 2rem;
  font-weight: bolder;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  gap: 2rem;
}

footer a {
  color: blue;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .page-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
  }

  .nav-contacts {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10rem;
    gap: 1rem;
    height: 2rem;
    background-color: var(--dark-gray);
  }

  .nav-contacts-icon {
    height: 1.2rem;
  }

  .nav-contacts-text {
    color: var(--white);
  }

  .menu-btn {
    display: none;
  }

  .nav-items {
    position: relative;
    height: 4rem;
    flex-direction: row;
    width: 100%;
    background-color: var(--white);
    padding: 0 10rem;
    margin: 0;
    border-right: none;
    box-shadow: none;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo {
    margin: 0;
  }

  .nav-ul {
    flex-direction: row;
    height: 4rem;
    align-items: center;
  }

  .nav-link {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    transition: color 0.5s;
  }

  .nav-link:hover {
    margin-left: 0;
    border-left: none;
    color: var(--red);
  }

  .nav-btn {
    margin: 0 0 0 2.5rem;
  }

  .nav-btn:hover {
    margin-left: 2.5rem;
  }

  .section-1 {
    gap: 2rem;
  }

  .main-section1 {
    padding: 10rem 1rem 10rem 10rem;
  }

  .page-title {
    max-width: 50rem;
    font-size: 4rem;
    line-height: 5rem;
    background-position: center;
  }

  .page-description {
    max-width: 50rem;
  }

  .activities {
    flex-direction: row;
    gap: 0.2rem;
    padding: 4rem 6rem;
    font-size: 0.8rem;
  }

  .activity {
    flex-direction: column;
    text-align: center;
    margin: 0;
  }

  .activity:hover {
    border: solid 2px var(--white);
  }

  .section2-button {
    background-color: transparent;
    border: none;
    text-decoration: underline;
  }

  .featured-speakers {
    grid-template-columns: 1fr 1fr;
  }

  .about-section4 {
    display: none;
  }

  footer {
    justify-content: center;
    gap: 10rem;
  }

  .about-footer {
    background-color: var(--dark-gray);
    color: var(--light-gray-alt);
  }

  .about-footer a {
    color: var(--light-gray-alt);
  }

  .about-section1 {
    padding: 12rem 1rem 8rem 1rem;
  }

  .previous-summits {
    margin: 3rem 10rem 8rem 10rem;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }

  .previous-summit {
    width: 100%;
  }
}